

.quiz-page {
  padding: 10px;
  text-align: center;
  margin: 0 auto;
  display: block;
  border-radius: 6px;
}


.question-container {
  max-width: 590px;
  height: 85%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  position: relative;
  padding: 20px;
  margin-top:1rem;
}





.question-text {
  font-weight: 280 !important;
  font-family: sans-serif;
  font-size: 1.0rem;
  margin-bottom: 1.3rem;
  text-align: center;
  position: relative;
  top: -1.2rem;
}


  .form {
    max-width: 600px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin: auto;
  }
  
  


.left-button-container {
  width: 40%;
  float: left;
  position: absolute;
  bottom: 20px;
  left: 20px;
}

.right-button-container {
  width: 40%;
  float: right;
  position: absolute;
  bottom: 20px;
  right: 20px;
}


.form-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}


.left-button {
  background-color: rgb(197, 12, 12);
  color: white;
  border: none;
  border-radius: 10px;
  padding: 9px 20px;
  width: 100%;
  text-align: center; 
  font-size: 11px;
}

.right-button {
  background-color: rgb(67, 66, 66);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 9px 20px;
  width: 100%;
  text-align: center; 
  font-size: 11px;
}



.question-video {
  width: 300px;
  height: 250px;
  margin: 0 auto;
  display: block;

  border-radius: 6px;
  box-shadow: 0px 0px 10px grey;
}


.quiz-video {
  max-width: 500px;
  margin: 0 auto;
}


.quiz-form button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: rgb(30, 30, 31);
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}




.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}




.webcam-container {
  width: 400px;
  height: 300px;
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
}



.submit-addressanswer {
  position: absolute;
  bottom: 40px;
  width: 0%;
  display: flex;
  justify-content: center;
  font-weight: 280 !important;
  font-family: sans-serif;
  background-color: #fff;
  color: #000;
  border-radius: 5px;
}

.submit-addressanswer button {
  background-color: rgb(67, 66, 66);
  color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 9px 73px;
  width: 100%;
  font-size: 13px;
}



.recording-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 22px;
}

.stop-recording-button {
  position: absolute;
  bottom: -50px;
  left: 50%;
  transform: translateX(-50%);
  width: 35%;
  display: flex;
  justify-content: center;
}
.stop-recording-button button {
  background-color: rgb(197, 12, 12);
  color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 9px 20px;
  width: 100%;
  font-size: 13px;
}

.background-video-container {
  border-radius: 35px;
  overflow: hidden;
}

.background-video-container video {
  width: 100%;
  height: 100%;
}





.submit-addressanswer {
  
  border-radius: 5px;
}

.submit-addressanswer button {
  background-color: rgb(67, 66, 66);
  color: rgb(255, 255, 255);
  border-radius: 9px;
  padding: 9px 73px;
  width: 100%;
  font-size: 13px;
}




.webcam-wrapper {
  width: 100%;
  height: 450px;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-bottom: 20px;

}

.webcam-wrapper video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}



.sign-out-button {
  background-color: rgb(67, 66, 66);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 9px 20px;
  width: 100%;
  text-align: center; 
  font-size: 15px;
}


  .message {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ffffff;
  }